* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section span {
  /* position: relative; */
  display: block;
  width: 5vw;
  height: 5vw;
  background: rgb(10, 10, 10);
  z-index: 2;
  box-shadow: 1px 1px 1px 1px rgb(99, 226, 99);

  transition: 1.5s;
}
section span:hover {
  background: rgb(32, 214, 15);
  transition: 0s;
}

section {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -105px;
  flex-wrap: wrap;
  overflow: hidden;
}

